	#body{
		background-color: white;
	}
	@media (max-width: 480px) {
	.centerdiv{
		top: 50%;
		left: 50%;
		margin-top: auto;
		margin-left: auto;
		display: block;
		border: thick solid black;
		position: absolute;
		margin-top: -208.5px; 
        margin-left: -375px;
	}}
	button{
		width: 120px;
		height: 40px;
	}